@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.list-group-flush>.list-group-item {
    font-family: 'Poppins', sans-serif;
}
.lista{
    
    position: relative;
    width: 1000px;
    margin-top: 20px;
    margin-left: 20px;
   
}
.lista1{
    position: relative;
}
.bttn{
    float: right;
    width: 90px;
    background-color: rgb(38, 209, 52);
    border: solid 1px white;
    border-radius: 0%;
    color: white;
}
.App .openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
  }
  body {
    padding: 0;
    margin: 0;
  }
  