@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
body{
  background-color:rgb(243, 243, 243);
}


/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  height: 94vh;
}
.forma{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
button, input {

}

.aaad{
width: 2222px;
}


.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {

  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 30px;
  font-weight: normal;
  
}

.masthead h2 {
  font-size: 40px;
  font-weight: normal;
}
.fotto{
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  justify-content: center;

  padding-bottom: 30px;
  
}

.ui.inverted.button {
    box-shadow: 0 0 0 2px #fff inset!important;
    background: transparent none;
    color: #fff;
    text-shadow: none!important;
    margin-left: 10px;
}
.ui.huge.button, .ui.huge.buttons .button, .ui.huge.buttons .or {
    font-size: 1.42857143rem;
}
.ui.inverted.button {
    box-shadow: 0 0 0 2px #fff inset!important;
    background: transparent none;
    color: #fff;
    text-shadow: none!important;
}
.ui.huge.button, .ui.huge.buttons .button, .ui.huge.buttons .or {
    font-size: 1.42857143rem;
}
.ui.inverted.button {
    -webkit-box-shadow: 0 0 0 2px #fff inset!important;
    box-shadow: 0 0 0 2px #fff inset!important;
    background: transparent none;
    color: #fff;
    text-shadow: none!important;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1rem;
}
.kkk{
  display: flex;
  justify-content: center;
  font-size: 13px;

}
.logoja{
  display: flex;
  justify-content: center;
}
.logo{
  animation-name: fadeInOut, moveLeft800px, bounce;
animation-duration: 3s;
animation-iteration-count: 1;
width: 100px;
}
.asas{
  color:#fff;
  text-align: center;
  font-size: 20px;
}

.ui.text.container {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  max-width: 2000px!important;
  margin-bottom: 180px;
}

.ui.inverted.button {
  box-shadow: 0 0 0 2px #fff inset!important;
  background: transparent none;
  color: #fff;
  text-shadow: none!important;
  margin-left: 10px;
  margin-top: 32px;
}

.ui.dropdown>.text {
  color:black;/* u kan white  e kom ndryshu black per arsyje me u shfaq selektimi ne drop down*/
}

.ui.dropdown>.dropdown.icon:before {
  color: white;
}   


.sss{
    margin-top: 20px;
}
.search {
	padding: 0 30px;
	font-size: 18px;
	width: 30%;
	max-width: 400px;
	height: 40px;
	border: 1px solid darken(white, 30%);
	border-radius: 20px 0 0 20px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection{
  color: #fff;
  background: #5372F0;
}
.wrappper{
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  height: 500px;
  box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.562);
}
.wrappper header{
  font-size: 35px;
  font-weight: 600;
}
.wrappper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}
form .field.shake{
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}
form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372F0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input{
  border-color: #5372F0;
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: #5372F0;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
}
.wrappper a{
  color: #5372F0;
  text-decoration: none;
}
.wrappper a:hover{
  text-decoration: underline;
}
form input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #5372F0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
form input[type="submit"]:hover{
  background: #2c52ed;
}