#home{
    color: rgb(92, 168, 179);
    font-size: 19px;
    margin-left: 20px;
}
#shkolla{
    color: rgb(72, 159, 170);
    font-size: 24px;
    font-weight: 600;
}
.navbar{
    background-image: linear-gradient(to right, rgb(170, 250, 230), rgb(179, 232, 255));
   border-bottom: solid 2px rgb(70, 193, 241);
}